body{
    background-color: bisque;
    text-align: center;
    color: rgb(153, 115, 58);
    font-size: 30px;
    padding: 20px;
}
.resposta{
    padding: 25px;
    color: brown;
    font-size: 15px;
}
.input3{
padding: 20px;
}